html,
body {
	margin: 0;
	padding: 0;
}

#board {
}

table {
  border: 1px solid black;
}

td {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}

td.isEmpty { background-color: white; }
td.isX { background-color: red; }
td.isO { background-color: green; }

#winner{
  font-size:50px;
}

.hidden{
	display:none;
}

